.SearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./background_search_desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
}

.SearchBar-sort-options ul {
  display: flex;
  justify-content: center;
  margin-bottom: 2.22rem;
  color: #000000;
}

.SearchBar-sort-options li {
  cursor: pointer;
  width: 4.33rem;
  border-bottom: 1px solid #fff;
  padding: 0 2.58rem .33rem 2.58rem;
  transition: color 0.25s;
  display: flex;
  align-items: flex-end;
}

.SearchBar-sort-options li:hover {
  color: #d4cfcf;
}

.SearchBar-sort-options li.active,
.SearchBar-sort-options li.active:hover {
  border-bottom: 1px solid #f0c36c;
  color: #f0c36c;
}

.SearchBar-fields {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.SearchBar-fields input {
  width: 21rem;
  padding: .66rem 1rem;
  margin-right: 2.22rem;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: .77rem;
  font-weight: 500;
}

.SearchBar-fields input:last-child {
  margin-right: 0;
}

.SearchBar-submit {
  width: 100%;
  display: flex;
}

.select-radius {
  width: 40%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

.submit-button {
  width: 20%;
  display: inline-flex;
  justify-content: center;
}

.number-results {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.select-radius select {
  height: 1.25rem;
  margin-right: 20px;
}

.SearchBar-submit a {
  border-radius: 4px;
  padding: .72rem 1.7rem;
  background-color: #cca353;
  color: #ffffff;
  font-weight: 600;
  transition: background-color .5s;
}

.SearchBar-submit a:hover {
  cursor: pointer;
  background-color: #a7874b;
}

.number-results {
  color: white;
  font-size: 15px;
}

.number-results ul {
  display: inline-flex;
  justify-content: flex-start;
}

.number-results ul li {
  margin-right: 10px;
}

.number-results ul li:hover {
  color: #d4cfcf;
  cursor: pointer;
}

.number-results ul li.active {
  color: #f0c36c;
}

@media only screen and (max-width: 982px) {
  .select-radius {
    justify-content: center;
  }
  .select-radius select {
    margin: 0;
  }
  .number-results {
    justify-content: center;
  }
}

@media only screen and (max-width: 682px) {
  .SearchBar {
    background-image: url('./background_search_mobile.jpg');
    background-position: 70% 0%;
  }

  .SearchBar-sort-options ul {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .SearchBar-sort-options ul li {
    padding-left: 30px;
    padding-right: 30px;
  }

  .SearchBar-fields {
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }

  .SearchBar-fields input {
    margin-right: 0;
    margin-bottom: .86rem;
  }

  .SearchBar-submit {
    flex-direction: column;
    align-items: center;
  }

  .select-radius, .submit-button, .number-results {
    margin-bottom: 25px;
    width: 100%;
  }

  .submit-button a {

  }

  .number-results ul li {
    font-size: 14.5px;
    margin-right: 30px;
  }
}
